<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity相关 -->
        <activity android:name=".activity.ActivityLearningActivity" />
        <activity android:name=".activity.ActivityLearningActivity2" />

        <!-- Service相关 -->
        <activity android:name=".service.ServiceLearningActivity" />

        <service android:name=".service.MyService" />
        <service android:name=".service.MyFrontService" />
        <service
            android:name=".service.MyRemoteService"
            android:process=":remote" />
        <service android:name=".service.MyIntentService" />

        <!-- BroadcastReceiver相关 -->
        <activity android:name=".broadcast.BroadcastLearningActivity" />

        <!-- RecycleView相关 -->
        <activity android:name=".recycleview.RecycleViewLearningActivity" />
        <activity android:name=".recycleview.RecycleViewAchieveListViewActivity" />

        <!-- 图片加载相关 -->
        <activity android:name=".imageload.ImageLoadLearningActivity" />
        <activity android:name=".imageload.fresco.FrescoLearningActivity" />
        <activity android:name=".imageload.glide.GlideLearningActivity" />
        <activity android:name=".imageload.picasso.PicassoLearningActivity" />
        <activity android:name=".imageload.universalimageloader.UniversalImageLoaderLearningActivity" />

        <meta-data
            android:name="com.example.administrator.androiddemo.imageload.glide.GlideConfiguration"
            android:value="GlideModule" />

        <!-- 图片压缩相关 -->
        <activity android:name=".imagecompress.ImageCompressLearningActivity" />

        <!-- 线程/线程池相关 -->
        <activity android:name=".thread.ThreadCorrelationLearningActivity" />
        <activity android:name=".thread.thread.ThreadLearningActivity" />
        <activity android:name=".thread.threadpool.ThreadPoolLearningActivity" />

        <!-- 算法 -->
        <activity android:name=".algorithm.SortLearningActivity" />

        <!-- 自定义View相关 -->
        <activity android:name=".customview.CustomViewLearningActivity" />

        <!-- WebView相关 -->
        <activity android:name=".webview.WebViewLearningActivity" />

        <!-- 小技巧相关 -->
        <activity android:name=".tips.TipsLearningActivity" />

        <!-- tools 命名空间 -->
        <activity android:name=".tips.toolsnamespace.ToolsNameSpaceLearningActivity" />

    </application>

</manifest>